header{
    display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    overflow: visible;
    background-color: var(--bg-c);
    border-radius: 100px;
    /*box-shadow: 0 0 1000px #11064789; */
     box-shadow: 0 0 30px #11064755;
    /*box-shadow: -10px -10px 30px #3f3a7755, 10px 10px 30px #11064755;*/
}

li a{
    display: block;
    color: var(--text-c);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: .5s;
    font-size: 40px;
    font-weight: 900;
}
li button {
    background-color: var(--bg-c);
    border: none;
    color: var(--text-c);
    padding: 14px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:medium;
}
li input {
    display: block;
    color: var(--bg-c);
    text-align: center;
}
li a:hover:not(.active),
li button:hover:not(.active) {
    color: var(--accent-c);
    transition: .5s;
}
li a div .logo{
    background-image: url("/images/Personal\ Logo\ Light\ BG.svg");
    height: 100%;
    width: auto;
    min-height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
/* li a div .logo:active{
    background-image: url("/images/Personal\ Logo\ Dark\ BG.svg");
    height: 100%;
    width: auto;
    min-height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
li a.active,
li button.active {
    color: var(--accent-c);
    
}
/* li a.active:before,
li button.active:before {
    content:'';
    position: absolute;
    width: 60px;
    height: 50px;
    margin: auto;
    z-index: -1;
    border: 1px solid purple;
    border-radius: 5px;
    left:40px;
} */

li.dropdown {
    position: relative;
    padding-top: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-c);
    min-width: 160px;
    box-shadow: 0px 0px 30px 0px #3f3a77;
    z-index: 999;
    border-radius: 20px;
}

.dropdown-content a {
    color: var(--text-c);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: 900;
    transition: .5s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    /*background-color: var(--accent-c);*/
    color: var(--bg-c);
    transition: .5s;
}