.title {
    font-size: 70px;
    color: var(--accent-c);
    font-weight: 900;
    margin-bottom: 30px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
  
.col-1 {
    display: inline-block;
    width: 25%;
    position:relative;
    overflow: hidden;
    text-align: center;
}
  
.col-3 {
    display: inline-block;
    width: 75%;
    font-size: 50px;
    font-weight: bold;
    color: var(--accent-c);
}

.col-2-5 {
    display: inline-block;
    width: 40%;
    position:relative;
    overflow: hidden;
    text-align: center;
}

.col-2-5:hover .overlay-text {
    opacity: 1;
}

.col-3-5 {
    display: inline-block;
    width: 60%;
    font-size: 50px;
    font-weight: bold;
    color: var(--accent-c);
}

.images {
    width: 100%;
    margin: 0 0 10% 0%;
    vertical-align: middle;
    transition: 1s;
}

.images:hover{
    transition: 1s;
    overflow: hidden;
    filter:blur(6px);
}



.overlay-text {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent-c);
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-shadow: 0px 0px 20px var(--shadow-d);
    
    
}
.col-1:hover .overlay-text {
    opacity: 1;
}



p {
    margin: 20 0
}

button {
    color: var(--accent-c);
    background-color: var(--bg-c);
    font-size: 50px;
    border-radius: 100px;
    width: 50%;
    height: 80px;
    box-shadow: -10px -10px 30px var(--shadow-c), 10px 10px 30px var(--shadow-d);
    padding: 0;
    border: none;
    font-family: 'Poppins';
}

button:active {
    box-shadow: inset -5px -5px 7px var(--shadow-c), inset 5px 5px 7px var(--shadow-d);
}